# Generic feed which contains all needed third-party packages
registry=https://pkgs.dev.azure.com/mobisysgmbh/_packaging/third-party/npm/registry/

# Package feed of internal mobisys packages only
@mobisys-internal:registry=https://pkgs.dev.azure.com/mobisysgmbh/_packaging/mobisys-internal/npm/registry/
@teckel.ts-internal:registry=https://pkgs.dev.azure.com/mobisysgmbh/_packaging/mobisys-internal/npm/registry/

always-auth=true
